/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
0.0 Variables
2.0 Typography
3.0 Layout
	3.1 Header
	3.2 Home Page
	3.3 Footer
4.0 Pages
	4.1 ejercicios.html
*/

/*--------------------------------------------------------------
3.3 Footer
--------------------------------------------------------------*/
.footer__contact-tittle-cont > h3 {
	font-size: 2rem;
	padding-bottom: 1.6rem;
	padding-top: 0.5rem;
}
